#movie_heading{
    background-color:rgb(3,36,58);
    border: solid;
    border-radius: 2rem;
    border-width: 0;
    color: white;
    overflow-x: hidden;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    width:fit-content;
    padding-right: 2rem;
    margin-top:0.5rem;
}
.movie_a{
    padding-left: 2rem;
    font-size: large;
    font-weight: 500;
}