body{
    background-color:rgb(249, 136, 136);
}
header{
   background: fixed;
   margin-top: -10px;
   margin-left: -0.5rem;
   margin-right:-0.5rem;
   padding-bottom: 0.5rem;
   display: flex;
   background-color: rgb(252, 237, 237);
}
.title{
    font-family: 'Brush Script MT' ;
}
.logo{
    width :4rem;
    padding-left: 8%;
}
header .logo{
    flex :5%;
}
header h1{
flex :95%;
}
@media(max-width:400px)
{
    .logo ,h1{
        flex:100%;
    }
}
#subheading{
   background-color: rgb(252, 237, 237);
   overflow-x: hidden;
   width: 100%;
   margin-left: -0.5rem;
   padding: 0.5rem;
}
.head_a{
    color:rgb(0, 0, 0);
    padding-left: 2%;
    padding-right: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    font-weight:600;
    text-decoration:none;
}
a:hover{
    color: tomato;
}
